<div class="bookings-reviews">
  <% if @bookings.present? %>
    <% @bookings.each do |booking| %>
        title: <%= booking.experience.title%>
      <br>
        start: <%= booking.start_datetime %>
      <br>
       end: <%= booking.end_datetime %>
      <br>
        total: <%= booking.total_price %>
      <br>
    <% booking.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
      <%= link_to 'Add Review', new_booking_review_path(booking) %>
    <% end %>
  <% else %>
    Would you like to leave a review for your booking?
  <% end %>
</div>
