<div class="booking-container">
  <div class=“confirmation-container”>
    <h3>See you at the terminal!</h3>
    <div class="confirmation-number">Your confirmation number is # <%= rand(1..9999999999) %></div>
    <br>
    <div class="qr-container">
      <div><i class="fas fa-print"></i> Save this QR code!</div>
      <div class="qrcode-container">
        <div class ="logo-text-container">
        </div>
        <%= image_tag("qr-code.png") %>
      </div>
    </div>

    <div class="map-container">
     <div><i class="fas fa-location-arrow"></i> Find us here</div>
     <div id="map"
     style="width: 100%;
     height: 200px;"data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     ></div>
   </div>
 </div>

 <div class="logo-container">
   <div><i class="fas fa-eye"></i> Look out for someone holding a Leap sign</div>
   <div class="confirmation-image">
     <%= image_tag("checkout.jpg") %>
   </div>
 </div>

 <br>


</div>
 <div class="footer">
   <%= link_to 'My Bookings', bookings_path(@bookings), class: 'primary-button', method: :get %>
 </div>



