<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div>
      <a href=""></a>
      <button class="arrow left mt-1 backjs">
      <svg width="26px" height="26px" viewBox="0 0 50 80" xml:space="preserve">
      <polyline fill="none" stroke="#8F8F8F" stroke-width="1" stroke-linecap="none" stroke-linejoin="none" points="
      45.63,75.8 0.375,38.087 45.63,0.375 "/>
      </svg>
    </div>

    <%= link_to root_path do  %>
    <%= image_tag("leap-logo.png", width: '65') %>
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-end">
      <li class="nav-item active">
        <% if user_signed_in? %>
            <%= link_to 'Profile', user_path(current_user) %>
          <% else %>
            <%= link_to "Log in", user_session_path %>
          <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'Wish List', favorites_path %>
      </li>
      <li>
        <%= link_to "My Bookings", bookings_path %>
      </li>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </li>
      <!-- <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li> -->
    </ul>
  </div>
</div>

