<div class="filter-container">
  <h2>Date</h2>
  <div class="wrap">
    <%= simple_form_for :search, method: "get" do |f| %>
    <%= f.input :transit_date, as: :string, required: false, input_html: {class: "datepicker"} %>

      <div class= "slider-container">
          <div class="slider-1">
            <h3>Arrival</h3>
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
           </div>

             <%= f.input :arrival, id: "demo"  %>
           <div class="slider-2">

            <h4>Departure</h4>
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
           </div>

             <%= f.input :departure , id: "demo2" %>
           </div>
      </div>
  <% end %>
  <div class="passenger-counter d-flex row h-100">
    <h4>Passengers</h4>
    <span class="minus">-</span>
    <input type="text" value="1" class="my-auto"/>
    <span class="plus">+</span>
  </div>

  <%= link_to "Search", "#", class: "secondary-button" %>
</div>




