<div class=“cards”>
   <% @experiences.each do |e| %>
    <%= cl_image_tag e.photo %>
    <%= link_to e.title, experience_path(e) %>
    <%= e.description %>
    <%= e.category %>
    <%= e.duration %>
    <%= e.price %>
   <% end %>
</div>
