<div class="experiences-header">
  <h4>See all experiences</h4>
  <h6>Friday, Aug. 20th</h6>
</div>

<div class="experiences-subheader">
  <h6>Categories</h6>
</div>

<div class="horizontal-scrolling-card-container">
  <%= link_to experiences_path(search: @search_params.dup.merge!({category: "Gastronomy"})) do  %>
    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('paella3.jpg') %>);">Gastronomy
    </div>
  <% end %>

  <%= link_to experiences_path(search: @search_params.dup.merge!({category: "Romantic"})) do  %>
    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('romantic.jpeg') %>);">Romantic
    </div>
    <% end %>


    <%= link_to experiences_path(search: @search_params.dup.merge!({category: "Family"})) do  %>
    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('family.jpeg') %>);">Family
    </div>
    <% end %>

  <%= link_to experiences_path(search: @search_params.dup.merge!({category: "Cultural"})) do  %>
    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('cultural.jpeg') %>);">Cultural
    </div>
  <% end %>

  <%= link_to experiences_path(search: @search_params.dup.merge!({category: "Nightlife"})) do  %>
    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('nightlife.jpeg') %>);">Nightlife
    </div>
    <% end %>
</div>

<div class="experiences-subheader">
  <h6>Top ranked</h6>
</div>

<div class="vertical-scrolling-card-container">
  <% @experiences.each do |e| %>
    <div class="card-big">
      <div class="card-image">
        <% if e.experience_photos.present? %>
          <% e.experience_photos.each do |p| %>
            <%= cl_image_tag p.photo %>
          <% end %>
        <% end %>
      </div>

      <div class="card-caption">
        <div class="card-caption-top">
          <div class="link-show"><%= link_to e.title, e %></div>
          <div><i class="fas fa-euro-sign"></i><%= e.price %></div>
        </div>
        <div class="card-caption-middle">
          <div class="small-margin-bottom"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 5.0 </div>
        </div>
        <div class="card-caption-bottom">
          <div class="small-margin-right"><i class="fas fa-users"></i><%= e.capacity %></div>
          <div><i class="fas fa-history"></i><%= e.duration %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
