<div class="experiences-header">
  <h4>See all experiences</h4>
  <h6>Friday, Aug. 20th</h6>
</div>

<h6>Categories</h6>

<div class="horizontal-scrolling-card-container">
    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('paella3.jpg') %>);">Gastronomy
    </div>

    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('romantic.jpeg') %>);">Romantic
    </div>

    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('family.jpeg') %>);">Family
    </div>

    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('cultural.jpeg') %>);">Cultural
    </div>

    <div class="card-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('nightlife.jpeg') %>);">Nightlife
    </div>
</div>

<div class="vertical-scrolling-card-container">
  <div class="card-big">
    <%= @experiences.each do |e| %>
    <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('sagrada_familia.jpeg') %>);">
    </div>

    <div class="card-caption">
      <div class="card-caption-top">
        <p><%= e.title %></p>
        <p><i class="fas fa-euro-sign"></i><%= e.price %></p>
      </div>
      <div class="card-caption-bottom">
        <p><i class="fas fa-users"></i><%= e.capacity %></p>
        <p><i class="fas fa-history"></i><%= e.duration %></p>
      </div>
    </div>
    <% end %>
</div>
