<div class="experience-show-container">
  <div class="show-page-card">
    <div class="show-image"
        style="background-image: linear-gradient(180deg, #000000 0%, rgba(49, 69, 242, 0.21) 50%), url(
        <%= @experience.experience_photos.first.photo %>);">
    </div>
    <div class="container">
      <div class="show-page-caption">
        <h3><%= @experience.title %></h3>
        <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 5.0 </p>
        <p><i class="far fa-comments"></i></i> Offered in English, Spanish </p>
        <p><i class="fas fa-history"></i> <%= @experience.duration %>hours total</p>
        <hr>
        <h5>What we'll do</h5>
        <p><%= @experience.description %></p>
        <hr>
        <h5>Before you book</h5>
        <p>Confirmation will be received at time of booking.</p>
        <p>Adult pricing applies to all travellers older than 4.</p>
        <p>Children younger than age 3  travel free of charge.</p>
        <p>If there is bad weather, construction, or anything jeaopradzing safety, some parts of the tour may not be available.</p>
        <hr>
        <h5>Guest Reviews:</h5>
        <br>
        <div class="reviews">
        <%= image_tag "fahad.jpg", class: "avatar", alt: "avatar" %>
          <div>
          <p><strong>Oliver Maxmillion</strong></p>
          <p class="show-rating">Rating: 5.0</p>
          </div>
          <p>August, 2019</p>
        </div>
        <br>
        <p>Fahad is a fantastic guide, incredibly knowledgable and friendly. He took time to explain the history with details but not to the point where it was too much. I would highly recommend his services.</p>
        <br>
      </div>

      <div class="reviews">
        <%= image_tag "https://media.licdn.com/dms/image/C4E03AQFlaSlWS71K2w/profile-displayphoto-shrink_800_800/0?e=1572480000&v=beta&t=Ln_Ll_NjLX2SI3k9Fbr0a_2ny2jpYFwayz40VmLJs7U", class: "avatar", alt: "avatar" %>
          <div>
          <p><strong>Ferdinand Artow</strong></p>
          <p class="show-rating">Rating: 5.0</p>
          </div>
          <p>July, 2019</p>
        </div>
        <br>
        <p>Victor and his team have so much experience! My family and I we're dreading our 10 hour layover, luckily we saw an ad for Leap when logging into the Airport Wi-Fi and we got to see a new city we wouldn't have otherwise. I couldn't recommend these guys enough!</p>
        <br>
      </div>
    </div>
    <div class="footer">
      <%= link_to humanized_money_with_symbol((@experience.price)* (session[:booking_data]['quantity']).to_i) + "     /      " + '  Book now', experience_bookings_path(@experience), class: 'primary-button', method: :post  %>
    </div>
  </div>
</div>
