<div class="payment-container">
  <div class="summary">
    <div id="steps">Step 1 of 1</div>
    <h3>Book your leap</h3>
    <div class="show-image"
        style="background-image: linear-gradient(180deg, #000000 0%, rgba(49, 69, 242, 0.21) 50%), url(
        <%= @experience.experience_photos.first.photo %>);">
    </div>
    <div class="container">
      <div class="show-page-caption">
        <h3><%= @experience.title %></h3>
    <div id="steps">12 people have viewed this leap in the last hour. Travel trends suggest this leap will be booked within the next few hours.</div>
    <hr>
      <!-- <form>
         <div class="custom-control custom-switch">
           <input type="checkbox" class="custom-control-input" id="switch">
           <label class="custom-control-label" for="switch1">WIFI</label>
         </div>
         <div class="custom-control custom-switch">
           <input type="checkbox" class="custom-control-input" id="switch">
           <label class="custom-control-label" for="switch1">Power Bank</label>
         </div>
         <div class="custom-control custom-switch">
           <input type="checkbox" class="custom-control-input" id="switch">
           <label class="custom-control-label" for="switch1">Luggage Check</label>
         </div>
      </form> -->
      <div align = "center" class = "centereddiv">
        <div align = "center" id = "box">
          <label class = "switch">
            <input type = "checkbox">
            <div class = "slider round"></div>
        </div>
      </div>
    <hr>
    <div>Your leap starts at: <%= @experience.start_time %>:00</div>
    <div>We'll take you back to the airport for your flight at: <%= @experience.end_time %>:00</div>
    <%= form_tag booking_payments_path(@booking) do %>
    <article>
      <label class="amount">
        <span>Amount: <%= humanized_money_with_symbol(@booking.amount) %></span>
      </label>
    </article>
    <div class="grow"></div>

    <br>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="<%= @experience.title %>"
        data-email="<%= current_user.email %>"
        data-amount= "<%= @booking.amount_cents %>"
        data-currency="<%= @experience.price_currency %>"></script>
      <% end %>
  </div>


</div>
